<h1 class="h4 mb-3">
  Ajouter une exception pour <%= @service.name %>
</h1>

<%= render "form" %>

<div class="mt-3">
  <%= link_to "â† Retour aux exceptions",
      provider_service_availability_exceptions_path(@service),
      class: "btn btn-link" %>
</div>
