<h2>Ajouter une plage de disponibilité</h2>

<%= render "form", rule: @rule, service: @service %>

<%= link_to "← Retour", provider_service_availability_rules_path(@service), class: "btn btn-link mt-3" %>
