<h2>Mettre à jour une exception</h2>

<%= render "form", exception: @exception, service: @service %>

<%= link_to "← Retour", provider_service_availability_exceptions_path(@service), class: "btn btn-link mt-3" %>
