<h1 class="h4 mb-3">
  Ajouter une zone pour <%= @service.name %>
</h1>

<%= render "form" %>

<div class="mt-3">
  <%= link_to "â† Retour aux zones",
      provider_service_service_areas_path(@service),
      class: "btn btn-link" %>
</div>
