.auth-dark-wrapper {
  min-height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.auth-dark-card {
  background: #1a1a1a;
  padding: 40px 35px;
  border-radius: 20px;
  width: 400px;
}

.auth-dark-input {
  background: #222;
  border: none;
  height: 48px;
  border-radius: 10px;
  color: white;
}
